*.tfstate
*.tfstate.*

.terraform.tfstate.lock.info

.terraform/

*.tfplan
tfplan

*.tfvars
*.tfvars.json
!*.tfvars.example

crash.log
crash.*.log

.terraformrc
terraform.rc

override.tf
override.tf.json
override_*.tf
*_override.tf
*_override.tf.json

data

lambdas/build
.venv

__pycache__